#moreInfo {
    padding: 50px;
    text-align: center;
}
#moreInfo img {
    width: 80%;
    margin: auto;
}
#moreInfo h1 {
    font-size: 2rem;
    color: #222222;
}
#cv {
    padding: 50px;
    text-align: center;
}
#cv img {
    width: 60%;
    margin: auto;
}
#cv h1 {
    font-size: 2rem;
    color: #222222;
}