:root {
    --dark: #222831;
    --grey: #393e46;
    --turquoise: #00adb5;
    --light: #eeeeee;
}
body {
    font-family: fira-sans, sans-serif;
}

.bg-dark {
    background-color: var(--dark);
}
.bg-grey {
    background-color: var(--grey);
}
.bg-turquoise {
    background-color: var(--turquoise);
}
.bg-light {
    background-color: var(--light);
}
.text-turquoise {
    color: var(--turquoise);
}
.text-grey {
    color: var(--grey);
}
.text-light {
    color: var(--light);
}
.border-turquoise {
    border-color: var(--turquoise);
}
.font-sub {
    font-family: montserrat, sans-serif;
}

.cursor {
    position: fixed;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid #eeeeee;
    background-color: transparent;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 999;

    transition: transform 200ms;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--light);
}
.showMenu {
    animation: showMenuAnim 300ms linear forwards;
}
.closeMenu {
    animation: closeMenuAnim 300ms linear forwards;
}

@keyframes showMenuAnim {
    from {right: -50%}
    to {right: 0%};
}
@keyframes closeMenuAnim {
    from {right: 0%;}
    to {right: -50%};
}

button.custom_btn:hover {
    background-color: var(--turquoise);
    color: var(--light);
}
textarea.custom_border, input.custom_border {
    border-color: var(--turquoise);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
  }
  
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }