body {
    cursor: none;
    background-color: white;
}
.websitePage {
    color: #222222;
}
.websitePage .mt-6{
    margin-top: 5rem !important;
}
:root {
    --swiper-navigation-color: #FDD83A !important;
    --swiper-theme-color: #FDD83A !important;
}
.websitePage h1, .websitePage .cssanimation span {
    font-size: 2.4rem;
}
.websitePage h3 {
    font-size: 2.4rem;
}
.websitePage input, .websitePage textarea {
    background-color: transparent;
}
.websitePage p, .websitePage input, .websitePage textarea {
    font-size: 1.8rem;
}
.websitePage .btn {
    background-color: #FDD83A;
    color: #222222;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    transition: all 250ms;
}
.websitePage .btn:hover {
    transform: scale(1.1);
    cursor: none;
}
.websitePage a:hover, .websitePage input:hover, .websitePage textarea:hover, .websitePage div:hover {
    cursor: none;
}
.websitePage .webMain {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    background-color: #f6f4e6;
}

.websitePage #myworks {
    background-color: #41444B;
}
.websitePage .swiper-container {
    width: 75vw;
    height: 75vh;
}
.websitePage .swiper-slide {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.websitePage .swiper-slide img {
    border-radius: 1rem;
}
.websitePage .swiper-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.websitePage .swiper-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}
.websitePage .swiper-bgblur {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.websitePage .swiper-bg h3 {
    z-index: 2;
    font-style: italic;
}
/* .websitePage .webWorksImg {
    height: 25rem;
    background-color: #eeeeee;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.16);
} */
.websitePage #myfooter {
    border-radius: 1rem 1rem 0 0;
    margin-top: 5rem;
}
.websitePage .webServices {
    background-color: #FDD83A; 
    color: #222222;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    margin-top: 4rem;
}
.websitePage .horPadding {
    padding: 0 3rem;
}
.websitePage .worksLink {
    font-size: 2.4rem;
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .websitePage h1, .websitePage .cssanimation span {
        font-size: 5rem;
    }
    .websitePage h2 {
        font-size: 2.4rem;
    }
    .websitePage h3 {
        font-size: 3rem;
    }
    .websitePage .webWorks {
        height: 100vh;
    }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .websitePage h3 {
        font-size: 3.5rem;
    }

}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .websitePage h2 {
        font-size: 5rem;
    }
    .websitePage p, .websitePage input, .websitePage textarea {
        font-size: 2rem;
    }
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .websitePage h1, .websitePage .cssanimation span {
        font-size: 6rem;
    }
    .websitePage .mr-xl-5 {
        margin-right: 3rem !important;
    }
    .websitePage .worksLink {
        font-size: 4rem;
    }
}
@media (min-width: 1350px) { 
    .websitePage h1, .websitePage .cssanimation span {
        font-size: 7rem;
    }
}
@media (min-width: 1450px) { 
    .websitePage h1 {
        font-size: 8rem;
    }
    .websitePage .worksLink {
        font-size: 5rem;
    }
}
@media (min-width: 1550px) {
    .websitePage h1, .websitePage .cssanimation span {
        font-size: 9rem;
    }
}
@media (min-width: 1700px) {
    .websitePage h1, .websitePage .cssanimation span {
        font-size: 10rem;
    }
}